name: Pixi

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: prefix-dev/setup-pixi@v0.8.11
        with:
          environments: dev
          manifest-path: pyproject.toml
          cache: true
          frozen: true

      - name: Ensure Dynamic version
        run: |
          pip install -e . --no-deps

      - name: Run Lint
        continue-on-error: true
        run: |
          pixi run lint

      - name: Run Pytest
        run: |
          pixi run test
